/* .filters {
    position: relative;
} */

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.filters > span {
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    font-size: 18px;
}

.rating-section > span {
    font-size: 22px
}

.filters input {
    margin: 0 20px 0 10px;
    cursor: pointer;
}

.filters input[type="radio"] {
    height: 18px;
    width: 18px;
}

.filters input[type="checkbox"] {
    height: 18px;
    width: 18px;
}

#single-product {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    transition: 0.3s ease-in-out all;
}


#single-product:hover {
    box-shadow:  0 15px 35px 2px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.desc-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media screen and (max-width: 640px) {
    .home {
        display: flex;
        flex-direction: column;
    }

    .header-logo {
        display: none;
    }

    .header input {
        width: 130%;
    }

    .productsContainer {
        margin: 0 auto
    }

    #single-product {
        width: 100%;
    }
}